#navbar{
    height: 40px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 1px;
    background-color: aqua;
    align-items: center;
}

#menu{
    display: flex;
    position: absolute;
    right: 10px;
}

.list{
    margin: 10px;
}

.list:hover{
    color: chocolate;
}

#ImageDiv{
    height: 300px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    background-size: cover;
}

#Image{
    background-size: cover;
}

#greet{
    color: azure;
    font-size: larger;
}

#button{
    background-color: brown;
}

#button:hover{
    background-color: orange;
}


#service{
    background-color: cadetblue;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.servicelist{
    width: 20rem;
    background-color: beige;
    margin: 50px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicelist:hover{

}


#settingImage{
    height: 100px;
}

#paraHead{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

#para{
    padding: 10px;
    text-wrap: wrap;
    text-align-last: center;
}


#arrow{
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;

}

#footer{
    height: 50px;
    width: 100%;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}